$text-color: #2C2B2B;

$title-primary: #1A1A1A;
$title-secondary: #808185;

$bg-primary: #ffffff;
$bg-secondary: #fafafa;

$border-color: #edeced;

$primary-100: #F2F7FF;
$primary-300: #B2CCFF;
$primary-500: #175CE5;
$primary-700: #08429A;
$primary-900: #001540;

$transition: .25s ease-in-out;