@import "@styles/variables";

.status-bar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  border: 1px solid $border;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fff;

  &.completed {
    .status-bar__section + .status-bar__section {
      border-color: transparent;
    }
  }

  &__section {
    height: 18px;
    width: 18px;
    cursor: pointer;
    opacity: .5;

    & + & {
      border-left: 1px solid $border;
    }
  }

  margin: 200px;
}